<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irrigation.wifilocation">
    <!-- To Get the Device location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To controll the device Wifi states and -->
    <!-- connect it programatically to a netwrok -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- To turn on the HotSpot -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process="com.irrigation.wifilocation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ConfigActivity"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.SplashActivity"
            android:theme="@style/AppThemeTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditWifiListActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activities.PermissionsActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activities.WifiListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".geofencing.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Service for device location -->
        <service android:name=".services.LocationMonitoringService" />

        <service
            android:name=".services.LocationJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.LocationMonitoringJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- Register Reciver for getting the widget updates -->

        <receiver android:name=".widget.NetworkWidgetProviderVersion2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".geofencing.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".geofencing.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>